## Tuple

In [ ]:
x = (10, 20)
coordinates = (30, 2)

## Indexing and slicing

In [ ]:
print(coordinates[0])
print(coordinates[-1])
print(coordinates[0:2])

In [ ]:
coordinates[0] = 5

## Tuple Operations

In [ ]:
a = (1, 2, 3)
b = (4, 5)
c = b + a
d = a * 2

len(a) #3
min(a) #1
max(a) #3
sum(a) #6

In [ ]:
print(d)

## Tuple packing and unpacking

In [ ]:
person = ("Alice", 30, "New York")
name, age, city = person
print(name, age, city)

Bob 30 New York

In [24]:
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [ ]:
data = [4, 1, 9, 2, 7, 5]

maximum = data[0]
minimum = data[0]

for number in data:
    if number > maximum:
        maximum = number
    if number < minimum:
        minimum = number

answer = (maximum, minimum)

print(tuple(answer))

(9, 1)

Create Program that stores student info as tuples:(name, age, score)
Add 3 students
Print the student highest score #use unpacking to display nicely

Convert list of tuples to tuples of list
data = [(1,2), (3,4), (5,6)]
output: ([1, 3, 5], [2, 4, 6])

Hint: loops and list comprehensions